@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.inter-font {
  font-family: "Inter", sans-serif;
}

.gradient-one {
  background: linear-gradient(135deg, #632EE3, #9F62F2);
  color: white;
}

.gradient-two {
  background: linear-gradient(90deg, #54CF68, #00827A);
  color: white;
}